[submodule "external/opa"]
	path = external/opa
	url = https://github.com/Marzac/OPA-Library.git
[submodule "external/ble-shield"]
	path = external/ble-shield
	url = https://github.com/RedBearLab/BLEShield.git
[submodule "external/arduino-midi-library"]
	path = external/arduino-midi-library
	url = https://github.com/FortySevenEffects/arduino_midi_library.git
